# Email files (raw client communications)
*.msg
*.eml

# Attachments and documents
*.pdf
*.docx
*.xlsx
*.xls

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
env/
.venv/

# API keys and credentials
.env
.env.local
api_keys.txt
secrets.json

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Exclude entire project folders (shipment data)
BA2797/
BA2861/
BA2862/
BA2863/
BA2869/
BA2902/
BA2949/
BA2959/
BA2965/
BA2971/
BA2982/
BA2983/
BA2984/
BA2985/
BA2999/
BA3000/
BA3001/
BA3032/
BA3048/
BA3109/
BA3097/
2025010600517-CO-LOADED_RATE_226/
2025010600552-CAT_6030_BUCKET_-_CFR_DURBAN_PORT_TO_CPT_SAKANIA/
745-EX-STOCK/
2511DSI2731/
2511DSI2736  - BA2974-BA2975/
2601DSI2758-2759-2766-2767-2768-2769/
2602DSI2781 - BA3160/
2602DSI2783 - BA2950/
BA3188A-BA3189A/
CAT CAB 320GX/
K Line for transporting Caterpillar 745 ADT/
2601DSI2758 - BA3112-BA3113/
CAT 140GC GRADER/
CAT 6015 AND PARTS/
CAT 777 FBU/
2510DSI2723 - BA2985/
2510DSI2723 - BA2985/
CAT 6030 BUCKET/
2602DSI2779 - BA3101/
BOKING EX BRANDS HATCH/
BA3195 - BA3198/
CAT 6015 AND PARTS/
NATRANS-INVOICES/
CRM-2697998-L1M9/
I805093-VXSRG-HMS SO1467537 Tractafric/
CAT 777 X30/
BA3188A BA3189A - AIR FREIGHT/
BA3121/
BA3119*/
BA3083*/
BA3079*/
BA3077*/
BA3061*/
BA3053*/
2603DSI*/
2601DSI*/
2602DSI*/
2512DSI*/
2511DSI*/
2510DSI*/
2509DSI*/
2604DSI*/
cat 333*/
kanu-grader*/



# Exclude other data folders
BARTRAC EQUIPMENT _ MUMI TRACKING AS OF 11-12-2025/
BARTRAC EQUIPMENT _ MUMI TRACKING AS OF 17-12-2025/
KINSHASA_CAT_426_UNITS/
MATADI_TO_KINSHASA_CITY/

# Exclude metadata
EmailProcessor.json
project/markdown/RE__X-HAUL_INSTRUCTION_-_1_X_40__GP_CONTAINER_STC__RE_ X-HAUL INSTRUCTION - 1 X 40' GP CONTAINER STC 2 X CAT426 BACKHOE LOADER IN SKD FORM - FML REF_ 2511DSI2735 - BA2972_ BA2973 - BILL_ MAEU261519076.md
project/markdown/X-HAUL_INSTRUCTION_-_1_X_40__GP_CONTAINER_STC_2_X__X-HAUL INSTRUCTION - 1 X 40' GP CONTAINER STC 2 X CAT426 BACKHOE LOADER IN SKD FORM - FML REF_ 2511DSI2735 - BA2972_ BA2973 - BILL_ MAEU261519076.md
project-template/markdown/timeline_%foldername%_summary.md
BA3097/BA3097_20260415.md
BA3097/email_processor-msg-perplex.py
BA3097/excel-to-json.py
BA3097/FML-CHECKLIST-TEMPLATE.md
BA3097/LLM-ask-summary.txt
BA3097/previous-merge-script.py
BA3097/markdown/DRAFT_FERI_FOR_CHECKING_-_MANUAL_COMMERCIAL_INVOIC_DRAFT FERI FOR CHECKING - MANUAL COMMERCIAL INVOICE - CATERPILLAR 6015BH HYDRAULIC MINING SHOVEL - BA3097 - KCC PO_ C003797680.md
BA3097/markdown/FML-CHECKLIST-BA3097.md
BA3097/markdown/RE__DRAFT_FERI_FOR_CHECKING_-_MANUAL_COMMERCIAL_IN_RE_ DRAFT FERI FOR CHECKING - MANUAL COMMERCIAL INVOICE - CATERPILLAR 6015BH HYDRAULIC MINING SHOVEL - BA3097 - KCC PO_ C003797680.md
BA3097/markdown/timeline_%foldername%_summary.md
BA3097/markdown/timeline_BA3097_summary.md
CAT 777 FBU/CAT 777 FBU_20260415.md
CAT 777 FBU/email_processor-msg-perplex.py
CAT 777 FBU/excel-to-json.py
CAT 777 FBU/FML-CHECKLIST-TEMPLATE.md
CAT 777 FBU/LLM-ask-summary.txt
CAT 777 FBU/previous-merge-script.py
CAT 777 FBU/markdown/30_X_CAT_777_FBU_DURBAN_TO_LUBUMBASHI_-_VALIDITY_-_30 X CAT 777 FBU DURBAN TO LUBUMBASHI - VALIDITY - TILL DEC 2026-0.md
CAT 777 FBU/markdown/30_X_CAT_777_FBU_DURBAN_TO_LUBUMBASHI_-_VALIDITY_-_30 X CAT 777 FBU DURBAN TO LUBUMBASHI - VALIDITY - TILL DEC 2026-1.md
CAT 777 FBU/markdown/30_X_CAT_777_FBU_DURBAN_TO_LUBUMBASHI_-_VALIDITY_-_30 X CAT 777 FBU DURBAN TO LUBUMBASHI - VALIDITY - TILL DEC 2026-2.md
CAT 777 FBU/markdown/30_X_CAT_777_FBU_DURBAN_TO_LUBUMBASHI_-_VALIDITY_-_30 X CAT 777 FBU DURBAN TO LUBUMBASHI - VALIDITY - TILL DEC 2026-3.md
CAT 777 FBU/markdown/FML-CHECKLIST-CAT 777 FBU.md
CAT 777 FBU/markdown/timeline_%foldername%_summary.md
CAT 777 FBU/markdown/timeline_CAT 777 FBU_summary.md
BA3195 - BA3198/previous-merge-script.py
BA3195 - BA3198/LLM-ask-summary.txt
BA3195 - BA3198/FML-CHECKLIST-TEMPLATE.md
BA3195 - BA3198/excel-to-json.py
BA3195 - BA3198/markdown/timeline_%foldername%_summary.md
BA3195 - BA3198/email_processor-msg-perplex-original.py
2509DSI2720 - BA2999/2509DSI2720 - BA2999_20260420.md
2509DSI2720 - BA2999/FML-CHECKLIST-TEMPLATE.md
2509DSI2720 - BA2999/markdown/2509DSI2720 - BA2999_20260420.md
2509DSI2720 - BA2999/markdown/BA2999_20260417.md
2509DSI2720 - BA2999/markdown/BA2999_BA2999.md
2509DSI2720 - BA2999/markdown/BA2999-_1_X_CAT_140GC-02A_MOTOR_GRADER_-_S_N__W9F0_BA2999- 1 X CAT 140GC-02A MOTOR GRADER - S_N_ W9F00654 - FML WHSE UNIT CONDITION INSPECTION REPORT.md
2509DSI2720 - BA2999/markdown/FML-CHECKLIST-2509DSI2720 - BA2999.md
2509DSI2720 - BA2999/markdown/FML-CHECKLIST-BA2999.md
2509DSI2720 - BA2999/markdown/RE__TRANSPORT_INSTRUCTION_-_1_X_CATERPILLAR_140GC-_RE_ TRANSPORT INSTRUCTION - 1 X CATERPILLAR 140GC-02A MOTOR GRADER - 2509DSI2720 - BA2999 - DURBAN TO LUBUMBASHI_ DRC - 1 UNIT.md
2509DSI2720 - BA2999/markdown/timeline_2509DSI2720 - BA2999_summary.md
2509DSI2720 - BA2999/markdown/timeline_BA2999_summary.md
2509DSI2720 - BA2999/markdown/timeline_summary.md
2509DSI2720 - BA2999/markdown/TRANSPORT_INSTRUCTION_-_1_X_CATERPILLAR_140GC-02A__TRANSPORT INSTRUCTION - 1 X CATERPILLAR 140GC-02A MOTOR GRADER - 2509DSI2720 - BA2999 - DURBAN TO LUBUMBASHI_ DRC - 1 UNIT.md
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/BV MANIFEST 2511DSI2725A - 1 X CAT D9GC-03B TRACTOR IN SKD FORM - BA2958 - MUMI.doc
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/MANIFEST 2511DSI2725A - 1 X CAT D9GC-03B TRACTOR IN SKD FORM - BA2958 - MAIN UNIT - MUMI.doc
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/MANIFEST 2511DSI2725B - 1 X CAT D9GC-03B TRACTOR IN SKD FORM - BA2958 - PARTS - MUMI - DRC.doc
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/MANIFEST 2511DSI2725B - 1 X CAT D9GC-03B TRACTOR IN SKD FORM - BA2958 - PARTS - MUMI.doc
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/MAIN UNIT/IMG-20251126-WA0006.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/MAIN UNIT/IMG-20251126-WA0007.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/MAIN UNIT/IMG-20251126-WA0008.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/MAIN UNIT/IMG-20251126-WA0009.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/MAIN UNIT/IMG-20251126-WA0010.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/MAIN UNIT/IMG-20251126-WA0011.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/MAIN UNIT/IMG-20251126-WA0159.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/MAIN UNIT/IMG-20251126-WA0160.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/MAIN UNIT/IMG-20251126-WA0161.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/MAIN UNIT/IMG-20251126-WA0162.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/PARTS/IMG-20251127-WA0205.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/PARTS/IMG-20251127-WA0206.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/PARTS/IMG-20251127-WA0207.jpg
2510DSI2725 - BA2958 - CAT D9GC-03B - MUMI/PICS/PARTS/IMG-20251127-WA0208.jpg
2510DSI2726 - BA3000/2510DSI2726 - BA3000_20260420.md
2510DSI2726 - BA3000/BA3000-2/markdown/RE__REQUEST_FOR_INSPECTION___BA3000_-_1_X_CATERPIL_RE_ REQUEST FOR INSPECTION _ BA3000 - 1 X CATERPILLAR D10-07A TRACTOR IN SKD FORM _ COD 2025 338956 PT01 _ FML REF_ 2510DSI2726.md
2510DSI2726 - BA3000/BA3000-2/markdown/RE__TRANSPORT_INSTRUCTION_-_1_X_LINK_TO_LOAD_CATER_RE_ TRANSPORT INSTRUCTION - 1 X LINK TO LOAD CATERPILLAR D10-07A TRACTOR ACCESSORIES - 2510DSI2726 - BA3000 - DURBAN TO KOLWEZI_ DRC - 15 PKGS (1).md
2510DSI2726 - BA3000/BA3000-2/markdown/RE__TRANSPORT_INSTRUCTION_-_1_X_LINK_TO_LOAD_CATER_RE_ TRANSPORT INSTRUCTION - 1 X LINK TO LOAD CATERPILLAR D10-07A TRACTOR ACCESSORIES - 2510DSI2726 - BA3000 - DURBAN TO KOLWEZI_ DRC - 15 PKGS.md
